/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS */
* {
  box-sizing: border-box;
}

:root {
  /* declare a variable with `--` syntax */
  --dark: #13293d;
  --light: #fff;
  --navlink-color: #b9c6ae;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(234, 243, 242);
}

header { /* why does gap space display above the header????*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  /* use CSS var() function to reference a variable created above */
  background-color: var(--dark);
  color: var(--light);
  
}

header h1 {
  font-size: 300%;
}

.hero img{ /*Not sure how to get this image to scale properly in the window*/
  height: 400px;
  width: 100%;
}

h1 {
  font-size: 200%;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
}

a[href*='.css']::after {
  display: inline-block;
  margin-left: 3px;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px; /*Does this actually do anything?*/
  padding-top: .5em;
  padding-bottom: .25em;
}

nav a {
  background-color: unset;
  color: var(--navlink-color);
  font-size: 1.5em;
  padding-left: 1.5em;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: rgb(224, 215, 215);
}

.resources {
  flex: 4;
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

.card {
  border-style: solid;
  border-width: 5px;
  border-radius: 10;
  border-color: var(--dark);
  padding: 10px;
  flex: 0 0 400px;
  background-color: rgb(195, 221, 220);
}

.card img {
  width: 400px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;
  max-width: 96%;
  margin: 2% auto;
}

article {
  /* If we were to change the value of `--dark`, then all references to it would change automatically */
  border-bottom: 1px solid var(--dark);
}

article p {
  margin: 2% 0;
  font-size: 110%;
}

/*article ul {
  margin-left: 5%;
  font-size: 110%;
  /* changed list style to box
  list-style: box;}*/


footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: var(--dark);
  color: var(--light);
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  main {
    max-width: 1200px;
}